header{
  height: 109px;
  background-color: gray;
}

nav img{
  float: left;
  margin:20px 20px 20px 20px;
}
ul{
  margin-top: 30px;
}
nav ul{
  margin:0px;
  padding:45px 0px 5px 30px
}
nav li{
  display:inline;
  margin-left:40px;
  margin-right: 40px;
}
nav li a{
  color:#ffffff;
}
#container{
  margin:20px 0px 0px 300px;
}
#sub-banner{
margin: 10px 40px 20px 10px;
}
#sub-banner img{
  padding: 7px 7px 7px 7px;
}
article {
  clear:both;
}
figure{
  float: left;
  padding :5px;
  margin:-10px 20px 19px -31px;
}
#container section article{
  margin:0px 20px 100px 20px;
  padding:20px;
}
p{

  overflow: auto;
  width:480px;
  height: 290px;
}

 section article #call{
margin-top: 60px;
border :1px solid #000000;
border-radius: 10px;
width: 180px;
float: left;
background-color:gray;
}
  footer{
  padding: 7px 0px 0px 20px;
  margin-top: 40px;
  height:109px;
  width:100%;
  background-color: gray;
}
